body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: blueviolet;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.title {
	text-align: center;
	color: white;
}

.todo-container {
	display: block;
	width: auto;
	border-radius: 0.4rem;
	padding: 2rem;
	background-color: white;
	margin: 0 auto;
}

.form {
	display: flex;
}

.form__button--add {
	margin-left: 0.2rem;
	cursor: pointer;
}

.todo {
	border: 1px solid black;
	border-radius: 0.2rem;
	margin-top: 1rem;
	padding: 0.4rem;
	display: flex;
	justify-content: space-between;
}

.todo__button {
	cursor: pointer;
}
